body {
  margin: 40px auto;
  max-width: 640px;
  line-height: 1.4;
  font-size: 18px;
  font-family: "helvetica neue", sans-serif;
  color: #202020;
  padding: 0 10px;
}

.darkMode {
  background-color: #202020;
  color: #ffffff;
}

a:link {
  color: #3270f6;
}
  
a:visited {
  color: #c8102e;
}